.wholePage {
  width: 1200px;
  margin: auto;
  padding-top: 0px;
}
header {
  height: 250px;
  margin-top: 0px;
  font-family: 'Abril Fatface', cursive;
  background-image:
    url("http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png");
  height: 400px;
  background-position: center;
  padding: 0px;
  background-size: cover;
  position: relative;
}
.headerText {
  font-size: 36px;
  position: absolute;
  bottom: 10px;
  left: 250px;
  color: #222;
  line-height: 1;
}
#ani {
  font-size: 72px;
  color: #222;
}
.about {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 780px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 222;
  line-height: 1.5;
  font-size: 20px;
}

ul {
  list-style-type: square;
}

.quote {
  width: 840px;
  height: 200px;
  display: flex;
  margin: auto;
  color: white;
  text-align: center;
  background: #565656;
  align-items: center;
  padding-bottom: 10px;
  font-size: 50px;
  font-family: 'Abril Fatface', cursive;  
}

.quote::before {
  content: '"';
  font-size: 110px;
  position: relative;
  left: 0px;
  top: 0px;
  
}
.achi {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 785px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 222;
  line-height: 1.5;
  font-size: 20px;
}
h2 {
  font-size: 25px;
  margin-bottom: 50px;
}
h3 {
  margin-top: 50px;
  font-size: 24px;
  line-height: 1.5;
}
.cv {
  font-size: 16px;
}
h4 {
  font-family: 'Merriweather', serif;
  color: #222;
  font-style: italic;
  font-size: 16px;
  line-height: 0;
}
.exp {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 785px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 222;
  line-height: 1.5;
  font-size: 20px;
}
.cvList {
  list-style-type: square;
  font-size: 16px;
}
hr {
  width: 900px;
  margin: auto;
  margin-top: 50px;
  height: 3px;
  background: black;
  margin-bottom: 50px;
}
.edu {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 780px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 222;
  line-height: 1.5;
  font-size: 20px;
}